#!/bin/bash

DIR_HOME=$HOME
DIR_CACHE=$DIR_HOME/.cache/$SCRIPT
DIR_CONFIG=$DIR_HOME/.config/$SCRIPT

LOG_LINES=15
SLEEP_TIME=$(( 60*60 ))

###

# Help: cd $DIR_CONFIG/$ListRepositories && git init && git fetch && git log && diff && notify
Organization=ORGANIZATION_OR_USER
ListRepositories='Repository1 Repository2'
NtfyPriorityRepositories=low


# Help: cd $ListRepositoryDirectories && git fetch && git log && diff && notify
ListRepositoryDirectories="AbsolutePathToProject1 AbsolutePathToProject2"
NtfyPriorityDirectories=default

# Help: get repositories from api.github.com/orgs/$ListOrganizations/repos && diff && notify
GITHUB_TOKEN=YOUR_GIT_TOKEN
ListOrganizations='Organization1 Organization2'
NtfyPriorityOrganizations=high


# Help: send push notifications to ntfy.sh/$NTFY_TOPIC
NTFY_TOPIC=YOUR_NTFY_TOPIC
# test: curl -H "Priority: default" -H "Tags: tag" -H "Title: TITLE" -d "Message" ntfy.sh/YOUR_NTFY_TOPIC

notifyCallback() { # $1=text
	echo "$1" | sed -e 's/Search1/Replace1/ig' -e 's/Search2/Replace2/ig'
}
